.wrapper {
	margin: 0 auto;
	max-width: 70vw;
	padding: 0;
	text-align: center;
	letter-spacing: 1px;

	.notification {
		color: #fff;
	}

	.item {
		list-style: none;
		margin: 10px 0;
		padding: 10px;
		background-color: #3c3c3c;
		border-radius: 5px;
		color: #fff;

		a {
			font-size: 1.2em;
			color: white;
			font-weight: bold;
			text-decoration: none;
		}

		.row {
			display: flex;
			justify-content: space-around;

			span {
				text-decoration: underline;
			}
		}
	}
}

@media (max-width: 735px) {
	.wrapper {
		.item {
			.row {
				display: block;
			}
		}
	}
}
